.header {
    position: fixed;
    top: 0;
    opacity: 0.85;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.logo {
    float: left;
    margin-left: 115px;
    margin-top: 15px;
    height: 50px;
}

.header__nav {
    float: right;
    margin-right: 115px;
    margin-top: 20px;
}

.header__nav a {
    color: black; 
}

.header_nav-links {
    display: inline-block;
}

.main__avatar {
    max-height: 40px;
}

.dropdown-menu {
    border: none;
}