body {
    font-family: 'Indie Flower', cursive;
}

.a {
    color: black;
}
.hide {
    display: none;
}
.header {
    position: relative;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.logo {
    margin-top: 15px; 
    height: 50px;
}

.sub-title {
    margin-top: 30px;
    text-align: center;
}
.fa  {
    color: black;
}
.fa-shopping-cart {
    margin-top: 25px; 
    font-size: 25px;
    float: right;
}

.header__nav {
    margin-top: 20px;
    float: right;
}

.header__nav a {
    color: black; 
}

.header_nav-links {
    display: inline-block;
}

.container-fluid {
    margin-top: 20px;
}

.up-button {
    height: 100%;
    width: 8.3%;
    position: fixed;
    top: 0px;
    left: 0;
}
.up-button:hover {
    background-color: grey;
    opacity: .08;
}
.up-button-text {
    opacity: 1;
    width: 8.3%;
    height: 100%;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    padding-left: 3.3%;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.small__avatar {
    max-height: 40px;
    min-width: 40px;
    border-radius: 360px;
}

.dropdown-menu {
    border: 1px solid grey;
    text-align: center;
}

.main__profile {
    position: relative;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.account__info-block {
    border-left: 1px solid grey;
}

.main__h3-personal {
    text-align: center;
    margin-bottom: 50px;
}

.main__avatar-big {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main__avatar-big img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 360px;
}

.main__avatar-big p {
    font-size: 15px;
}

.select{
    width: 180px;
    height: 180px;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 180px;
    opacity: 0;
    z-index: 5;
}

.btn-set {
    position: relative;
}

.main__info {
    text-align: center;
    margin-top: 40px;
}

.main__info-ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.main__info-ul li {
    margin-bottom: 8px;
}

.main__h2-portfolio {
    text-align: center;
}

.main__add-image {
    margin-top: 100px;
}

.main__add-image h5 {
    text-align: center;
}
.img-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.btn-add {
    margin-top: 15px;
    float: right;
}
.img-input {
    margin-top: 15px;
    float: left;
}
.img-form input {
    margin-bottom: 15px;
}

.main__portfolio__work-image {
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
    max-width: 100%;
}

.main__portfolio__work-image img {
    max-width: 100%;
}

.main__portfolio__work {
    text-align: center;
}

.home__content__single-image {
    width: 100%;
    margin-top: 45px;
}

.home__content__single-image__info {
    margin-bottom: 10px;
}

.home__content__single-image__info-avatar {
    display: inline-block;
    position: relative;
}

.home__content__single-image__info-title {
    display: inline-block;
    width: 70%;
    font-size: 20px;
}

.home__content__single-image__info-name {
    display: inline-block;
    position: relative;
}
.home__content__single-image__info-price {
    float: right;
}

.home__content__single-image__work {
    text-align: center;
    margin-bottom: 80px;
}

.home__content__single-image__work img {
    width: 100%;
}
.fa-cart-plus {
    font-size: 22px;
    float: right;
}
.row {
    margin-bottom: 10px;
}
.admin__list{
    width: 100%;
    margin-top: 50px;
}
.listOfUsers {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.admin__link {
    font-family: Arial, Helvetica, sans-serif;
}

.listOfWorks {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.cart__title {
    margin-top: 50px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.cart-row {
     border-bottom: 1px solid grey; 
}

.cart__info-img {
    max-width: 80%;
}

.cart__info {
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.cart__info-str {
     margin-right: 14px;
     display: inline-block;
}
.cart__info-link {
    color: white;
}

.home__addition__section-input, .home__addition__width-input {
    display: inline-block;
    margin-right: 10px;
    border-radius: 360px;
    margin-top: 25px;
    border-color: black;
    font-size: 15px;
}

.home__addition__section-input{
    width: 46%;
}
.home__addition__width-input{
    width: 33%;
}

.home__addition__button {
    border-radius: 360px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    height: 36px;
}
.home__addition__button:hover {
    background-color: #FAF3F3;
}
.add-to-cart {
    background-color: transparent;
    border: none;
}
